@font-face {
  font-family: "Biotif-Black";
  src: url("./fonts/Biotif-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Biotif-Bold";
  src: url("./fonts/Biotif-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Biotif-ExtraBold";
  src: url("./fonts/Biotif-ExtraBold.ttf") format("truetype");
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: "Biotif-Medium";
  src: url("./fonts/Biotif-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  margin: 0;
}

.HOME {
  font-size: 2rem;
  font-family: "Biotif-Black";
  width: 100vw;
  height: 100vh;
  background: white;
  position: relative;
}

.HOME .home-wrapper {
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.HOME .home-wrapper .top-heading {
  font-family: "Biotif-Black";
  color: #58bbff;
  text-align: center;
  background: #ffffff;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
}

.HOME .home-wrapper .top-heading-size {
  font-size: 6rem;
  font-family: "Biotif-Black";
}

.HOME .home-wrapper .top-heading2 {
  font-family: "Biotif-Black";
  color: transparent;
  text-align: center;
  background: none;
  display: block;
}

.HOME .home-wrapper .heading-subtitle {
  font-family: "Biotif-ExtraBold";
  color: #666666;
  font-size: 4rem;
  line-height: 4rem;
}

.HOME .home-wrapper .results h1 {
  display: inline;
  font-family: "Biotif-Black";
  color: #58bbff;
  margin-bottom: 50px;
  font-size: 5rem;
}

.HOME .home-wrapper .results h1:first-child {
  display: inline;
  font-family: "Biotif-Black";
  color: #666666;
}

.question-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Biotif-Medium";
  color: #666666;
}

.question-cont .amount-social h3 {
  white-space: nowrap;
}

.question-cont.where-live h3, .question-cont.amount-social h3 {
  white-space: nowrap;
  padding-right: 1.5rem;
}

.question-cont.where-live div, .question-cont.amount-social div {
  margin-top: 1.5rem;
}

.question-cont h3 {
  font-size: 2rem;
}

.calculate-cont {
  text-align: center;
  color: #666666;
}

.calculate-cont button {
  border-radius: 3rem;
  padding-left: 4rem;
  padding-right: 4rem;
  margin-bottom: 2rem;
}

.calculate-cont h3 {
  font-size: 1.5rem;
  font-style: italic;
  text-decoration: underline;
  font-family: "Biotif-Medium";
}

button {
  background: #58bbff;
  font-size: 3rem;
  height: 5rem;
  padding: 1rem;
  color: #f1f1f1;
  font-family: "Biotif-Bold";
  margin-left: 1rem;
  margin-right: 1rem;
  line-height: 4rem;
  border-radius: 1rem;
}

.slider-wrapper {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.bottom-alba-ad {
  text-align: center;
  color: #666666;
  font-size: 1.3rem;
}

.bottom-alba-ad form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.4rem;
}

.bottom-alba-ad form input {
  border: 1px solid black;
  width: 20%;
  height: 40px;
}

.bottom-alba-ad > h1 {
  font-family: "Biotif-ExtraBold";
  margin-bottom: 2rem;
}

.bottom-alba-ad > h2 {
  font-family: "Biotif-Medium";
  font-size: 1.4rem;
}

@media only screen and (max-width: 600px) {
  .home-wrapper {
    width: 90%;
  }
  html {
    font-size: 8px;
  }
}

@media only screen and (min-width: 600px) {
  .home-wrapper {
    width: 70%;
  }
  html {
    font-size: 9px;
  }
}

@media only screen and (min-width: 768px) {
  .home-wrapper {
    width: 80%;
  }
  html {
    font-size: 10px;
  }
}

@media only screen and (min-width: 992px) {
  .home-wrapper {
    width: 70%;
  }
  html {
    font-size: 11px;
  }
}

@media only screen and (min-width: 1200px) {
  .home-wrapper {
    width: 55%;
  }
  html {
    font-size: 12px;
  }
}
/*# sourceMappingURL=globals.css.map */