@font-face {
  font-family: "Biotif-Black";
  src: url("./fonts/Biotif-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Biotif-Bold";
  src: url("./fonts/Biotif-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Biotif-ExtraBold";
  src: url("./fonts/Biotif-ExtraBold.ttf") format("truetype");
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: "Biotif-Medium";
  src: url("./fonts/Biotif-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  margin: 0;
}

.HOME {
  font-size: 2rem;
  font-family: "Biotif-Black";
  width: 100vw;
  height: 100vh;
  background: white;
  position: relative;
  overflow-x: hidden;
}

.HOME .home-wrapper {
  height: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.top-heading {
  font-family: "Biotif-Black";
  font-size: 6rem;
  color: #58bbff;
  text-align: center;
  display: block;
  margin-top: 2rem;
}

@media only screen and (max-width: 600px) {
  .top-heading {
    font-size: 5.6rem;
  }
}

.heading-subtitle {
  font-family: "Biotif-ExtraBold";
  color: #666666;
  font-size: rem;
  line-height: 4rem;
  margin-bottom: 4rem;
}

.questions-wrapper {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.question-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Biotif-Medium";
  color: #666666;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.question-cont h3 {
  width: 50%;
}

.question-cont div {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.question-cont.where-live h3, .question-cont.amount-social h3 {
  padding-right: 1.5rem;
}

.question-cont h3 {
  font-size: 2rem;
}

.calculate-cont {
  text-align: center;
  color: #666666;
  margin-bottom: 8rem;
}

.calculate-cont button {
  border-radius: 3rem;
  padding-left: 10rem;
  padding-right: 10rem;
  margin-bottom: 1rem;
}

.calculate-cont h3 {
  font-size: 1.5rem;
  font-style: italic;
  text-decoration: underline;
  font-family: "Biotif-Medium";
}

button {
  background: #58bbff;
  font-size: 3rem;
  height: 5rem;
  padding: 1rem;
  color: #f1f1f1;
  font-family: "Biotif-Bold";
  margin-left: 1rem;
  margin-right: 1rem;
  line-height: 4rem;
  border-radius: 1rem;
}

button:hover {
  background: #409edd;
}

.slider-wrapper {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.bottom-alba-ad {
  text-align: center;
  color: #666666;
  font-size: 1.3rem;
}

@media only screen and (max-width: 600px) {
  .bottom-alba-ad {
    margin-top: 4rem;
  }
}

.bottom-alba-ad form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 600px) {
  .bottom-alba-ad form {
    margin-top: 1rem;
  }
}

.bottom-alba-ad form input {
  border: 1px solid black;
  width: 40%;
  height: 4rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding-left: 1rem;
}

@media only screen and (max-width: 600px) {
  .bottom-alba-ad form input {
    width: 60%;
  }
}

.bottom-alba-ad form button {
  height: 4rem;
  line-height: 2.6rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 1px solid black;
  margin: 0 0;
  border-left: 0;
}

.bottom-alba-ad > h1 {
  font-family: "Biotif-ExtraBold";
}

.bottom-alba-ad > h2 {
  font-family: "Biotif-Medium";
  font-size: 1.4rem;
}

.bottom-alba-ad > .fav-app {
  margin-bottom: 0.8rem;
  margin-top: 7rem;
}

.results-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.results-cont h1 {
  display: inline;
  font-family: "Biotif-Black";
  color: #58bbff;
  font-size: 5rem;
}

.results-cont h1:first-child {
  display: inline;
  font-family: "Biotif-Black";
  color: #666666;
}

.mailchimp-form {
  position: relative;
}

.mailchimp-form .msg-alert {
  position: absolute;
  top: 45px;
}

.main {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}

body,
html {
  height: 100%;
}

@media only screen and (max-width: 600px) {
  .home-wrapper {
    width: 90%;
  }
  html {
    font-size: 6px;
  }
  .top-heading {
    font-size: 5rem;
    margin-bottom: 3rem;
  }
  .heading-subtitle {
    font-size: 4.5rem;
  }
  .results-cont {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .slider-question {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .slider-question h3 {
    width: 100%;
  }
  .slider-question div {
    width: 100%;
  }
}

@media only screen and (min-width: 600px) {
  .home-wrapper {
    width: 70%;
  }
  html {
    font-size: 7px;
  }
}

@media only screen and (min-width: 768px) {
  .home-wrapper {
    width: 80%;
  }
  html {
    font-size: 8px;
  }
}

@media only screen and (min-width: 992px) {
  .home-wrapper {
    width: 70%;
  }
  html {
    font-size: 9px;
  }
}

@media only screen and (min-width: 1200px) {
  .home-wrapper {
    width: 55%;
  }
  html {
    font-size: 10px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}
/*# sourceMappingURL=globals.css.map */