@font-face {
  font-family: "Biotif-Black";
  src: url("./fonts/Biotif-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Biotif-Bold";
  src: url("./fonts/Biotif-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Biotif-ExtraBold";
  src: url("./fonts/Biotif-ExtraBold.ttf") format("truetype");
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: "Biotif-Medium";
  src: url("./fonts/Biotif-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
}

.HOME {
  font-size: 2rem;
  font-family: "Biotif-Black";
  width: 100vw;
  height: 100vh;
  background: white;
  position: relative;

  .home-wrapper {
    height: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

.top-heading {
  font-family: "Biotif-Black";
  font-size: 6rem;
  color: #58bbff;
  text-align: center;
  display: block;
}

.heading-subtitle {
  font-family: "Biotif-ExtraBold";
  color: #666666;
  font-size: 4rem;
  line-height: 4rem;
}

.questions-wrapper {
  margin-bottom: 0;
}

.question-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Biotif-Medium";
  color: #666666;
  margin-top: 1rem;
  margin-bottom: 1rem;

  h3 {
    width: 50%;
  }

  div {
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }

  &.where-live,
  &.amount-social {
    h3 {
      padding-right: 1.5rem;
    }
  }

  h3 {
    font-size: 2rem;
  }
}

.calculate-cont {
  text-align: center;
  color: #666666;

  button {
    border-radius: 3rem;
    padding-left: 4rem;
    padding-right: 4rem;
    margin-bottom: 1rem;
  }

  h3 {
    font-size: 1.5rem;
    font-style: italic;
    text-decoration: underline;
    font-family: "Biotif-Medium";
  }
}

button {
  background: #58bbff;
  font-size: 3rem;
  height: 5rem;
  padding: 1rem;
  color: rgb(241, 241, 241);
  font-family: "Biotif-Bold";
  margin-left: 1rem;
  margin-right: 1rem;
  line-height: 4rem;
  border-radius: 1rem;
}

.slider-wrapper {
  flex-grow: 1;
}

.bottom-alba-ad {
  text-align: center;
  color: #666666;
  font-size: 1.3rem;

  form {
    display: flex;
    justify-content: center;
    align-items: center;

    input {
      border: 1px solid black;
      width: 20%;
      height: 4rem;
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem;
    }

    button {
      margin: 0;
      height: 4rem;
      line-height: 2.6rem;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border: 1px solid black;
      border-left: none;
    }
  }

  & > h1 {
    font-family: "Biotif-ExtraBold";
  }

  & > h2 {
    font-family: "Biotif-Medium";
    font-size: 1.4rem;
  }
}

// .results {
//   h1 {
//     display: inline;
//     font-family: "Biotif-Black";
//     color: #58bbff;
//     margin-bottom: 50px;
//     font-size: 5rem;

//     &:first-child {
//       display: inline;
//       font-family: "Biotif-Black";
//       color: #666666;
//     }
//   }
// }

@media only screen and (max-width: 600px) {
  .home-wrapper {
    width: 90%;
  }

  html {
    font-size: 6px;
  }

  .slider-question {
    flex-direction: column;

    h3 {
      width: 100%;
    }

    div {
      width: 100%;
    }
  }
}

@media only screen and (min-width: 600px) {
  .home-wrapper {
    width: 70%;
  }

  html {
    font-size: 7px;
  }
}
@media only screen and (min-width: 768px) {
  .home-wrapper {
    width: 80%;
  }

  html {
    font-size: 8px;
  }
}

@media only screen and (min-width: 992px) {
  .home-wrapper {
    width: 70%;
  }

  html {
    font-size: 9px;
  }
}

@media only screen and (min-width: 1200px) {
  .home-wrapper {
    width: 55%;
  }

  html {
    font-size: 10px;
  }
}
